<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListeProduit</servlet-name>
        <servlet-class>controlleur.produit.ListeProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeProduitByCategorie</servlet-name>
        <servlet-class>controlleur.produit.ListeProduitByCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>controlleur.utilisateur.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrixRevenuProduit</servlet-name>
        <servlet-class>controlleur.produit.PrixRevenuProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestionPrixVente</servlet-name>
        <servlet-class>controlleur.produit.SuggestionPrixVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageFormulaireSuggestion</servlet-name>
        <servlet-class>controlleur.produit.SuggesionPrixVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageFormulaireInsertionCommande</servlet-name>
        <servlet-class>controlleur.commande.PageFormulaireInsertionCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionCommande</servlet-name>
        <servlet-class>controlleur.commande.InsertionCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutDetailCommande</servlet-name>
        <servlet-class>controlleur.detailCommande.AjoutDetailCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageFormulairePourboire</servlet-name>
        <servlet-class>controlleur.serveur.PageFormulairePourboire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoirPouboire</servlet-name>
        <servlet-class>controlleur.serveur.VoirPouboire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererProduit</servlet-name>
        <servlet-class>controlleur.produit.InsererProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PourBoire</servlet-name>
        <servlet-class>controlleur.serveur.PourBoire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdditionTable</servlet-name>
        <servlet-class>controlleur.table.AdditionTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoirAdditionTable</servlet-name>
        <servlet-class>controlleur.table.VoirAdditionTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecetteProduit</servlet-name>
        <servlet-class>controlleur.produit.RecetteProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VueCuisine</servlet-name>
        <servlet-class>controlleur.utilisateur.VueCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreparerPlat</servlet-name>
        <servlet-class>controlleur.produit.PreparerPlat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VuePayementCommande</servlet-name>
        <servlet-class>controlleur.commande.VuePayementCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayerPlat</servlet-name>
        <servlet-class>controlleur.paiement.PayerPlat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstituantPlatsGeneralise</servlet-name>
        <servlet-class>controlleur.produit.ConstituantPlatsGeneralise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventaire</servlet-name>
        <servlet-class>controlleur.inventaire.Inventaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaireInventaire</servlet-name>
        <servlet-class>controlleur.inventaire.FaireInventaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecupererMontant</servlet-name>
        <servlet-class>controlleur.produit.RecupererMontant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VueCommandeImpaye</servlet-name>
        <servlet-class>controlleur.VueCommandeImpaye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageFormulaireCommandeNonPaye</servlet-name>
        <servlet-class>controlleur.commande.PageFormulaireCommandeNonPaye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageFormulaireLogin</servlet-name>
        <servlet-class>controlleur.utilisateur.PageFormulaireLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlleur.utilisateur.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirection</servlet-name>
        <servlet-class>controlleur.utilisateur.Redirection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerDetailCommande</servlet-name>
        <servlet-class>controlleur.detailCommande.SupprimerDetailCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierCommande</servlet-name>
        <servlet-class>controlleur.commande.ModifierCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutDetailCommandeModification</servlet-name>
        <servlet-class>controlleur.detailCommande.AjoutDetailCommandeModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerDetailCommandeModification</servlet-name>
        <servlet-class>controlleur.detailCommande.SupprimerDetailCommandeModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VueProduitNonLivre</servlet-name>
        <servlet-class>controlleur.detailCommande.VueProduitNonLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivrerDetailCommande</servlet-name>
        <servlet-class>controlleur.detailCommande.LivrerDetailCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayerCommande</servlet-name>
        <servlet-class>controlleur.commande.PayerCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCuisine</servlet-name>
        <servlet-class>controlleur.cuisine.AccueilCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FabriquerPlat</servlet-name>
        <servlet-class>controlleur.detailCommande.FabriquerPlat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilAdmin</servlet-name>
        <servlet-class>controlleur.admin.AccueilAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierRecette</servlet-name>
        <servlet-class>controlleur.produit.ModifierRecette</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererStock</servlet-name>
        <servlet-class>controlleur.stock.GererStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VueCommandeNonPaye</servlet-name>
        <servlet-class>controlleur.commande.VueCommandeNonPaye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatAchat</servlet-name>
        <servlet-class>controlleur.statistique.StatAchat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatVente</servlet-name>
        <servlet-class>controlleur.statistique.StatVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fenStatAchat</servlet-name>
        <servlet-class>controlleur.statistique.fenStatAchat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fenStatVente</servlet-name>
        <servlet-class>controlleur.statistique.fenStatVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnection</servlet-name>
        <servlet-class>controlleur.utilisateur.Deconnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecupererMontant</servlet-name>
        <url-pattern>/RecupererMontant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProduit</servlet-name>
        <url-pattern>/ListeProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProduitByCategorie</servlet-name>
        <url-pattern>/ListeProduitByCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrixRevenuProduit</servlet-name>
        <url-pattern>/PrixRevenuProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestionPrixVente</servlet-name>
        <url-pattern>/SuggestionPrixVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageFormulaireSuggestion</servlet-name>
        <url-pattern>/PageFormulaireSuggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageFormulaireInsertionCommande</servlet-name>
        <url-pattern>/PageFormulaireInsertionCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionCommande</servlet-name>
        <url-pattern>/InsertionCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutDetailCommande</servlet-name>
        <url-pattern>/AjoutDetailCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageFormulairePourboire</servlet-name>
        <url-pattern>/PageFormulairePourboire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoirPouboire</servlet-name>
        <url-pattern>/VoirPouboire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererProduit</servlet-name>
        <url-pattern>/InsererProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PourBoire</servlet-name>
        <url-pattern>/PourBoire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdditionTable</servlet-name>
        <url-pattern>/AdditionTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoirAdditionTable</servlet-name>
        <url-pattern>/VoirAdditionTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecetteProduit</servlet-name>
        <url-pattern>/RecetteProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VueCuisine</servlet-name>
        <url-pattern>/VueCuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreparerPlat</servlet-name>
        <url-pattern>/PreparerPlat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VuePayementCommande</servlet-name>
        <url-pattern>/VuePayementCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayerPlat</servlet-name>
        <url-pattern>/PayerPlat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstituantPlatsGeneralise</servlet-name>
        <url-pattern>/ConstituantPlatsGeneralise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventaire</servlet-name>
        <url-pattern>/Inventaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaireInventaire</servlet-name>
        <url-pattern>/FaireInventaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VueCommandeImpaye</servlet-name>
        <url-pattern>/VueCommandeImpaye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageFormulaireCommandeNonPaye</servlet-name>
        <url-pattern>/PageFormulaireCommandeNonPaye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageFormulaireLogin</servlet-name>
        <url-pattern>/PageFormulaireLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirection</servlet-name>
        <url-pattern>/Redirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerDetailCommande</servlet-name>
        <url-pattern>/SupprimerDetailCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierCommande</servlet-name>
        <url-pattern>/ModifierCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutDetailCommandeModification</servlet-name>
        <url-pattern>/AjoutDetailCommandeModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerDetailCommandeModification</servlet-name>
        <url-pattern>/SupprimerDetailCommandeModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VueProduitNonLivre</servlet-name>
        <url-pattern>/VueProduitNonLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivrerDetailCommande</servlet-name>
        <url-pattern>/LivrerDetailCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilCaisse</servlet-name>
        <url-pattern>/AccueilCaisse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayerCommande</servlet-name>
        <url-pattern>/PayerCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilCuisine</servlet-name>
        <url-pattern>/AccueilCuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FabriquerPlat</servlet-name>
        <url-pattern>/FabriquerPlat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilAdmin</servlet-name>
        <url-pattern>/AccueilAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierRecette</servlet-name>
        <url-pattern>/ModifierRecette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererStock</servlet-name>
        <url-pattern>/GererStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VueCommandeNonPaye</servlet-name>
        <url-pattern>/VueCommandeNonPaye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatAchat</servlet-name>
        <url-pattern>/StatAchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatVente</servlet-name>
        <url-pattern>/StatVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fenStatAchat</servlet-name>
        <url-pattern>/fenStatAchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fenStatVente</servlet-name>
        <url-pattern>/fenStatVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnection</servlet-name>
        <url-pattern>/Deconnection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilCaisse</servlet-name>
        <servlet-class>controlleur.caisse.AccueilCaisse</servlet-class>
    </servlet>
</web-app>
